html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.body {
    max-width: 1000px;
    margin: 0 auto;
    background-color: #ffffff;
    font-family: 'Lato', sans-serif;
    padding: 20px;
    background-image: url("../images/background.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}